*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #32363E;
  background-color: #0dff; */
}
html{
  font-size: 62.5%;
}
.app{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}


